<p id="notice"><%= notice %></p>

<h1 class=" text-center">Projects</h1>

<%= link_to 'New Project', new_project_path, class: 'btn btn-success col-sm-12' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>

        <td>
          <div class="dropdown float-right">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Show', project, class:'dropdown-item' %>
              <%= link_to 'Edit', edit_project_path(project), class:'dropdown-item' %>
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class:'dropdown-item' %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

