<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @worker.email %>
</p>

<h2> Projects</h2>
<table class="table">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
  <% @all_projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.description %></td>
      <td><%= link_to 'Eliminar proyecto', pd_delete_path(@worker.project_worker(project)), method: :delete  %></td>
    </tr>
  <% end %>
    </tbody>
</table>
<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
